.nav {
    font-family:Helvetica;
    font-size: 12px;
    font-weight:bold;
    text-transform: uppercase;
}

.nav li {
    display:inline;
}

.jumbotron {
  background-image:url('http://kyokkouchan.org/wg/src/1367894982651.jpg');
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:25px;
  left:25px;
}

.test li {
    display:inline;
    font-family:Helvetica;
}